@import url(navigation.css);
@import url(portlets.css);

body {
  margin:5px 10px 0px 10px; 
  padding:0;
  font:small/1.5em Tahoma, "Lucida Grande", sans-serif;
  voice-family: "\"}\""; voice-family:inherit;
  color: #333333;
  	
}

#wrapper {
	
}

#content-wrapper {
  clear: both;
  border-top: 1px solid #fff;
  padding-bottom: 75px;
}


/* STANDARD TAGS -----------------------------------------------------------*/
/* standard html (body, h1, p, form...) */

h1 { 
  font-size: 1.2em; 
  font-weight:bold;
  color: #585858; 
}
  
h2 { 
  font-size: 1.1em; 
  font-weight:bold;
  color: #545D51; 
}
  
h3 {
  font-size: 1.05em; 
  font-weight:bold;
  color: #444444; 
}
  
a:link {
  color: #133f6d;
  text-decoration:none;
}
  
a:visited {
  color: #133f6d;
  text-decoration:none;
}
  
a:hover {
  color: #133f6d;
  text-decoration:underline;
  background-color: #f3f1e9;
}


.center {text-align: center;}
.small {font-size: x-small;}

/* END OF STANDARD TAGS */


/* HEADER -----------------------------------------------------------*/

#header {
  
}

#logo {
  float: left;
}

#breadcrumbs {
  clear: right;
  padding-left: 100px
}
  
#header-navigation {
  float: right;
  display:inline;
  padding-right: 0.4em;
}

/* END OF HEADER */


/* ALERT MESSAGE AREA -----------------------------------------------------------*/
/* contains: styles for the alert box */

#alert-message {
  clear: both;
  text-align: center;
  padding: 10px;
  padding-left: 20%;
  padding-right: 20%;
}

.alert {
  display: block;
  padding: 5px;
  background: #ffe3e3;
}

/* END OF ALERT*/



/* LISTS -----------------------------------------------------------*/

ul.compact, .action-list ul{
  margin: 0px;
  padding: 0px;
}
ul.compact li, .action-list ul li {
  list-style:none;
  display: inline;
}

/* END OF LISTS */

/*  TABLES -----------------------------------------------------------*/

table.standard {
  margin: 0;
  padding: 0;
  border: 1px solid #E0D0B1;
}

table.standard th {
  padding: 12px 5px;
  background-color: #f3f1e9;
  font-size: .95em;
  border-bottom: 1px solid #F0EADA;
  
}

table.standard tr td {
  margin: 0 0 0 0;
  padding: 12px 5px;
  border-bottom: 1px solid #F0EADA;
}

table.standard tfoot tr td {
  
}

table.standard th.rowHeader {
  background-color: #f7efdc;
}

table.standard tr.oddRow, table.standard tr.oddRow th  {
  background-color: #fbf8eb;
}  

table.standard tr.evenRow, table.standard tr.evenRow th {
  background-color: #ffffff;
}



table.form {
  margin: 0;
  padding: 0;
}

table.form th, table.form legend {
  text-align: right;
  font-size: .95em;
  
}

table.form tr td {
  margin: 0 0 0 0;
  padding: 10px 5px;
}

table.form th.rowHeader {
  background-color: #f7efdc;
}

table.form .oddRow {
  background-color: #ffffff;
}  

table.form .evenRow {
  background-color: #ffffff;
}


/* END OF TABLES */


/*  BUTTONS -----------------------------------------------------------*/

a.button { 
  background:url("/resources/theme-zen/images/global/button-background.gif") repeat-x;
  font-size: .85em;
  border: solid 1px #000;
  background-color: #e1e1e1;
  text-align: center; 
  padding: 4px 8px;
  color: #000;
  text-decoration: none;
  line-height: 2.5em;
  white-space: nowrap;
}

a.button:hover { 
  background:url("/resources/theme-zen/images/global/button-background-hover.gif") repeat-x;
  text-decoration: underline;
  background-color: #334f82;
  color: #fff;
}

.button {
  text-decoration: underline;
  padding-right: 5px;
  border-right: 1px solid #666666;
}

.admin-button-bar {
  float: right;
  display:none;
}

.admin-button-bar a.button { 
  font-size: .85em;
  border: double 3px #000;
  background-color: #e1e1e1;
  text-align: center; 
  padding: 4px 8px;
  color: #000;
  text-decoration: none;
}

a img {
  border: 0px;
}

/* END OF BUTTONS */


/* FOOTER -----------------------------------------------------------*/
#footer {
  clear: both;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 100%;
  text-align: center;
  border-top: 3px double #c8c8c8;
}

#footer-icons {
  float: left;
}

#footer-links {
  text-align: right;
}

/* END OF FOOTER*/


.clearer, #clearer {
  clear: both  
}  


/* SKIP */
#skiptocontent p, #skiptocontent a, #skiptocontent a:hover, #skiptocontent a:visited {
	position:relative;
	left:0px;
	top:0px;
	overflow:hidden;
    background-color: #eeeeee;
    color: #000000;
}

#skiptocontent p {
  display: block;
  margin-top: -3px;
  margin-bottom: 3px;
  margin-left: -10px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  text-align: left;
  width:100%;
  height: 1.5em;
  padding-left: 1em;
}

.block-marker {
  position:absolute;
  left:0px;
  top:-500px;
  width:1px;
  height:1px;
  overflow:hidden;
}
 
#skiptocontent a:active {
  position:static;
  width:auto;
  height:auto;
}

.screen-reader-only {
  display: none;
}




#sidebar-1-sim {
  float: right;
  width: 49%;
}

#main-content-sim {
  float: left;
  width: 50%;
}
