/* Main navigation */

#main-navigation {
	float:left;
	width:100%;
	background: url("/resources/openacs-default-theme/images/bg.gif") repeat-x bottom;
	clear: both;
	display: block;
}
	
#main-navigation ul {
	margin:0;
	padding:10px 10px 0;
	list-style:none;
}
 
#main-navigation li {
	float:left;
	background:url("/resources/openacs-default-theme/images/left.gif") no-repeat left top;
	margin:0;
	padding:0 0 0 9px;
}
 
#main-navigation a {
	float:left;
	display:block;
	background:url("/resources/openacs-default-theme/images/right.gif") no-repeat right top;
	padding:5px 15px 4px 6px;
	text-decoration:none;
	font-weight:bold;
	font-size: .95em;
	color:#666666;
}
	
 
#main-navigation #main-navigation-active {
	background-image:url("/resources/openacs-default-theme/images/left_on.gif");
}
	
#main-navigation #main-navigation-active a {
	background-image:url("/resources/openacs-default-theme/images/right_on.gif");
	color:#000;
	padding-bottom:5px;
}
 
#main-navigation a:hover {
    color: #000;
    text-decoration: underline;
}
 
/* End of main navigation */

/* Subnavigation */

#sub-navigation {
    float: left;
    width:100%;
    background: url("/resources/openacs-default-theme/images/bg.gif") repeat-x bottom;
    clear: both;
    padding-top: 5px;  /* remove this padding to make the subnavigation links to appear completly enclosed */
    padding-bottom: 5px  /* remove this padding to make the subnavigation links to appear completly enclosed */
}
	
#sub-navigation ul {
    margin: 0;
    padding:0px 10px 10px 10px;
    list-style:none;
    line-height: .7em;
}
	
#sub-navigation li {
    float:left;
    border-right: 1px solid #a0a3a1;
    padding: 0px 20px 0px 20px ; 
}
	
#sub-navigation a {
    float:left;
    display:block;
    color:#666666;
    padding:4px 0px 6px 0px;
    text-decoration: none;
    font-weight:bold;
    font-size: .95em;
}

#sub-navigation li a:hover {
    color: #000;
    text-decoration: underline;
}

#sub-navigation li#sub-navigation-active a {
    color: #000;
}

/* End of subnavigation */

/* Calendar widget css */

/* The main calendar widget.  div containing a table. */

div.calendar { position: relative; }

.calendar, .calendar table {
  border: 1px solid #556;
  font-size: 11px;
  color: #000;
  cursor: default;
  background: #eef;
  font-family: tahoma,verdana,sans-serif;
}

/* Header part -- contains navigation buttons and day names. */

.calendar .button { /* "<<", "<", ">", ">>" buttons have this class */
  text-align: center;    /* They are the navigation buttons */
  padding: 2px;          /* Make the buttons seem like they're pressing */
}

.calendar thead .title { /* This holds the current "month, year" */
  font-weight: bold;      /* Pressing it will take you to the current date */
  text-align: center;
  background: #fff;
  color: #000;
  padding: 2px;
}

.calendar thead .headrow { /* Row <tr> containing navigation buttons */
  background: #778;
  color: #fff;
}

.calendar thead .daynames { /* Row <tr> containing the day names */
  background: #bdf;
}

.calendar thead .name { /* Cells <TD> containing the day names */
  border-bottom: 1px solid #556;
  padding: 2px;
  text-align: center;
  color: #000;
}

.calendar thead .weekend { /* How a weekend day name shows in header */
  color: #a66;
}

.calendar thead .hilite { /* How do the buttons in header appear when hover */
  background: #aaf;
  color: #000;
  border: 1px solid #04f;
  padding: 1px;
}

.calendar thead .active { /* Active (pressed) buttons in header */
  background: #77c;
  padding: 2px 0px 0px 2px;
}

/* The body part -- contains all the days in month. */

.calendar tbody .day { /* Cells <TD> containing month days dates */
  width: 2em;
  color: #456;
  text-align: right;
  padding: 2px 4px 2px 2px;
}

.calendar table .wn {
  padding: 2px 3px 2px 2px;
  border-right: 1px solid #000;
  background: #bdf;
}

.calendar tbody .rowhilite td {
  background: #def;
}

.calendar tbody .rowhilite td.wn {
  background: #eef;
}

.calendar tbody td.hilite { /* Hovered cells <TD> */
  background: #def;
  padding: 1px 3px 1px 1px;
  border: 1px solid #bbb;
}

.calendar tbody td.active { /* Active (pressed) cells <TD> */
  background: #cde;
  padding: 2px 2px 0px 2px;
}

.calendar tbody td.selected { /* Cell showing today date */
  font-weight: bold;
  border: 1px solid #000;
  padding: 1px 3px 1px 1px;
  background: #fff;
  color: #000;
}

.calendar tbody td.weekend { /* Cells showing weekend days */
  color: #a66;
}

.calendar tbody td.today { /* Cell showing selected date */
  font-weight: bold;
  color: #00f;
}

.calendar tbody .disabled { color: #999; }

.calendar tbody .emptycell { /* Empty cells (the best is to hide them) */
  visibility: hidden;
}

.calendar tbody .emptyrow { /* Empty row (some months need less than 6 rows) */
  display: none;
}

/* The footer part -- status bar and "Close" button */

.calendar tfoot .footrow { /* The <tr> in footer (only one right now) */
  text-align: center;
  background: #556;
  color: #fff;
}

.calendar tfoot .ttip { /* Tooltip (status bar) cell <TD> */
  background: #fff;
  color: #445;
  border-top: 1px solid #556;
  padding: 1px;
}

.calendar tfoot .hilite { /* Hover style for buttons in footer */
  background: #aaf;
  border: 1px solid #04f;
  color: #000;
  padding: 1px;
}

.calendar tfoot .active { /* Active (pressed) style for buttons in footer */
  background: #77c;
  padding: 2px 0px 0px 2px;
}

/* Combo boxes (menus that display months/years for direct selection) */

.combo {
  position: absolute;
  display: none;
  top: 0px;
  left: 0px;
  width: 4em;
  cursor: default;
  border: 1px solid #655;
  background: #def;
  color: #000;
  font-size: smaller;
}

.combo .label {
  width: 100%;
  text-align: center;
}

.combo .hilite {
  background: #acf;
}

.combo .active {
  border-top: 1px solid #46a;
  border-bottom: 1px solid #46a;
  background: #eef;
  font-weight: bold;
}

#login-box {
  border: black 1px solid;
  padding: 4px;
}

table.table-display {
  font-family: tahoma, verdana, helvetica; 
  font-size: 85%;
}

tr.table-header {
  background-color: #cccccc; 
}

tr.even {
  background-color: #f0f0f0;
}

tr.odd {
  background-color: #e0e0e0;
}

/* Replace deprecated center tags in forms. Eventually all forms should use form builder and this tag should not be used */

div.submit-button {
  text-align: center;
}

#skiptocontent {
  display: none;
}

.block-marker {display: none;}

/* User Messages */

#alert-message {
  background-color: #ccff99; 
  padding: 4px;
  padding-top: 6px;
  padding-bottom: 6px;
  font-size: 85%;
}

#alert-message .alert {
  margin-left: 0;
  padding-left: 2px;
  border: none;
}


/* Boxed User Message */

.boxed-user-message {
  background-color: #ccff99; 
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 85%;
  border: 1px solid #dd9988;
}

.boxed-user-message h3 {
  color: #990000;
  margin-top: 0px;
}

.boxed-user-message .body {
  color: #990000;
}


/* Subsite Name */

#subsite-name { 
  font-weight: bold; 
  font-size: 120%;
  font-family: verdana; 
  padding-left: 8px;
}
a.subsite-name {
  color: black;
  text-decoration: none;
}
a.subsite-name:hover {
  color: black;
  text-decoration: none;
}


/* Site Footer */

#footer {
  clear: both;
  border-top: 1px solid #ccc;
  font-family: tahoma, verdana, helvetica, sans-serif;
  font-size: 85%;
  margin-top: 24px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 8px;
  padding-right: 8px;
  text-align: center;
}

#footer ul {
  display: inline;
  margin-left: 0;
  padding-left: 0;
  border: none;
}

#footer ul li {
  margin-left: 0;
  padding-left: 10px;
  border: none;
  list-style: none;
  display: inline;
}

#footer .action-list {
  float: left;
}

#wrapper {
}

#content-wrapper {
  clear: both;
  border-top: 1px solid #fff;
  padding-bottom: 75px;
}


/**********************************************************************
/* Widgets
/**********************************************************************/

/* STANDARD TAGS -----------------------------------------------------------*/
/* standard html (body, h1, p, form...) */

body {
  margin:5px 5px 0px 5px;
  padding:0;
  font:small/1.5em Tahoma, "Lucida Grande", sans-serif; voice-family: "\"}\""; voice-family:inherit;
}

h1 {
  font-size: 1.2em;
  font-weight: bold;
  color: #666666;
  margin-bottom: 12px;
}

h2 {
  font-size: 1.1em;
  font-weight:bold;
  color: #555555;
  margin-bottom: 12px;
}

h3 {
  font-size: 1.05em;
  font-weight:bold;
  color: #444444;
  margin-bottom: 12px;
}

h3 {
  font-size: 1.00em;
  font-weight:bold;
  color: #444444;
  margin-bottom: 12px;
}

a:link {
  color: #235c96;
  text-decoration:underline;
}

a:visited {
  color: #235c96;
}

a:hover {
  color: #235c96;
  background: #CCCCCC;
}

/* BUTTON ---- */
a.button { 
  font: .85em arial;
  border: solid 1px black;
  background-color: #E1E1E1;
  text-align: center; 
  padding: 1px;
  padding-left: 8px;
  padding-right: 8px;
  color: black;
  text-decoration: none;
  white-space: nowrap;
}

a.button:link { 
  text-decoration: none;
  border: solid 1px black;
}

a.button:hover { 
  text-decoration: none;
  background-color: #CCCCCC;
  border: solid 1px black;
}

a.button:active { 
  text-decoration: none;
  border: solid 1px black;
}

/* END BUTTON ---- */

.center {text-align: center;}
.small {font-size: x-small;}

/*  ARE THESE NEEDED ??? -----------------------------------------------------------*/

/* Various forms of links */

.action-list { 
  padding: 0;
}

.action-list ul { 
  margin: 0;
  padding: 0;
  display: inline;
  border: none;
}
                
.action-list ul li {
  margin: 0;
  padding: 0;
  border: none;
  list-style: none;
  display: inline;
}

div.subsite-context-bar {
  font-size: 85%;
  margin-bottom: 4px;
  position: relative;
}

a.admin-button { 
  font: 85% arial;
  border: solid 1px black;
  background-color: #aaa;
  text-align: center; 
  padding: 1px;
  padding-left: 8px;
  padding-right: 8px;
  color: #fff;
  text-decoration: none;
  white-space: nowrap;
}
a.admin-button:link { 
  text-decoration: none;
  border: solid 1px black;
  color: #111;
}
a.admin-button:visited { 
  text-decoration: none;
  border: solid 1px black;
}
a.admin-button:hover { 
  text-decoration: none;
  background-color: #ccc;
  border: solid 1px black;
}
a.admin-button:active { 
  text-decoration: none;
  border: solid 1px black;
}

a.admin:link, a.admin:visited {
  color: #f00;
  font-family: verdana;
  font-size: 11px;
  font-weight: normal;
}

a.admin:hover { 
  color: #fff; 
  background: #f00;
}

.highlight { 
  background-color: #ffc; 
}

ul.action-links li {
  list-style: circle url(/resources/acs-subsite/action-link-marker.png);
  margin: 8px;
  margin-left: -16px;
}

/*  END ARE THESE NEEDED -----------------------------------------------------------*/

/* END STANDARD TAGS ---------------------------------------------------------------*/

/* HEADER TAGS ---------------------------------------------------------------------*/

#header {
  font-size: 0.92em;
  background-color: #EFEFEF;
  color: #444444;
  padding-top: 4px;
  padding-bottom: 4px;
}

#system-name {
  font-size: 1.4em;
  font-weight: bold;
  float: left;
  padding-left: 0.2em;
}

#system-name a {
  color: #333333;
  text-decoration: none;
}

#header-navigation {
  float: right;
  padding-right: 0.4em;
}

/* CONTEXT BAR ---- */

#breadcrumbs {
  clear: right;
  padding-left: 0.4em;
}

/* END CONTEXT BAR ---- */ 

/* END HEADER TAGS -----------------------------------------------------------*/

/* LISTS -----------------------------------------------------------*/

ul.compact, .action-list ul{
  margin: 0px;
  padding: 0px;
}
ul.compact li, .action-list ul li {
  list-style:none;
  display: inline;
}

/* END OF LISTS */

/* PORTLETS */

.portlet-sidebar {
  width: 30%;
}

.portlet-wrapper {
  margin: 4px 4px 4px 4px;
}

.portlet-header {
    padding: 2px 8px 2px 8px; 
    border-top: 1px solid #fff;
    background: #ddd; 
    height: 21px;
}

.portlet-title {
    float: left; /* comment out if portlet-controls display:none */
    display: inline;
}

.portlet-title h1 {
    margin: 0px;
    font-size: 1em;
    font-weight:bold;
    color:#000;
}
    
.portlet-controls {
    display: block; /* future development */
    padding-top: 2px;
    text-align: right;    
}

.portlet-controls img {
    border: 0px;
}

.portlet-controls a:link {
    color: #fff;
}

.portlet-controls a:hover {
    color: #000;
}

.portlet {
  border: 1px dotted #999; 
  border-top: 0px;
  padding: 6px 8px 6px 8px;
  clear:left;
}

/* END OF PORTLETS */

.portal-page {
  border: 1px solid #888;
  padding: 6px 8px 6px 8px;
  clear:left;
}

/**********************************************************************
/* DEPRECATED CLASSES
/**********************************************************************/

/* Deprecated, not sure what it's replaced with just yet */
a.action {
  margin: 8px;
  margin-left: 24px;
  display: list-item;
  list-style: circle url(/resources/acs-subsite/right.gif);
}


